*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  background-color: #EB2F64;
  color: #fff; }

::-webkit-scrollbar {
  width: 17px; }

::-webkit-scrollbar-track {
  background-color: #f4f2f2; }

::-webkit-scrollbar-thumb {
  background: #333; }

::-webkit-scrollbar-thumb:hover {
  background: #777; }

html {
  font-size: 62.5%;
  scrollbar-color: #333 #f4f2f2;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #777;
  background: linear-gradient(to right bottom, #FF3366, #BA265D) no-repeat;
  min-height: 100vh; }

a:visited {
  color: currentColor; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border: #f4f2f2 1px solid;
  border-left: none;
  border-right: none; }
  .list__2-cols {
    display: flex;
    flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
    .list__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: .7rem;
      background-color: #EB2F64;
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-size: cover; }

.btn {
  border: none;
  cursor: pointer;
  font-size: inherit;
  transition: all .2s ease-out; }
  .btn--inline {
    color: #EB2F64;
    border-bottom: currentColor 1px solid;
    padding-bottom: 2px;
    display: inline-block;
    background: transparent; }
    .btn--inline:hover {
      color: #333; }
      .btn--inline:hover span {
        margin-left: 8px; }
    .btn--inline:focus {
      outline: none;
      animation: pulsate 1s linear infinite; }
    .btn--inline span {
      margin-left: 3px;
      transition: margin-left .3s ease-out; }
  .btn__gradient {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    background-image: linear-gradient(to right, #FF3366 0%, #BA265D 50%, #FF3366 100%);
    background-size: 200% auto;
    color: #fff;
    position: relative;
    overflow: hidden; }
    .btn__gradient > * {
      display: inline-block;
      transition: all .2s ease-out; }
    .btn__gradient--visible {
      padding: 2rem 7.5rem; }
    .btn__gradient--invisible {
      position: absolute;
      padding: 2rem 0;
      left: 0;
      top: -100%;
      height: 100%;
      width: 100%; }
    .btn__gradient:hover {
      background-position: -100% 0; }
    .btn__gradient:hover .btn__gradient--visible {
      transform: translateY(100%); }
    .btn__gradient:hover .btn__gradient--invisible {
      top: 0; }
    .btn__gradient:focus {
      outline: none;
      animation: pulsate 1s linear infinite; }

@keyframes pulsate {
  0%, 100% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); } }

.cta {
  padding: 3.5rem 2.5rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem; } }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 56.25em) {
      .cta__book-now {
        margin-bottom: 1.5rem; } }

.description {
  background-color: #fff;
  flex: 0 0 60%;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 2rem; } }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: #f4f2f2 1px solid; }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: #EB2F64; }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .overview__rating {
    background: #EB2F64;
    color: #fff;
    margin-left: 3rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.25rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0 1.5rem; } }
    .overview__rating-average {
      font-size: 2.25rem;
      font-weight: 300;
      line-height: 1.3; }
      @media only screen and (max-width: 37.5em) {
        .overview__rating-average {
          font-size: 1.8rem; } }
    .overview__rating-count {
      font-size: .8rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 37.5em) {
        .overview__rating-count {
          font-size: 1rem; } }

.recommend {
  font-size: 1.3rem;
  color: #999;
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: #fff 3px solid; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }
      @media only screen and (max-width: 75em) {
        .recommend__photo:not(:last-child) {
          margin-right: -2rem; } }

.review {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .review {
      width: 100%; } }
  .review:not(:last-child) {
    margin-bottom: 3.5rem; }
    @media only screen and (max-width: 56.25em) {
      .review:not(:last-child) {
        margin-bottom: 3rem; } }
  .review__text {
    position: relative;
    z-index: 10;
    margin-bottom: 2rem; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .review__user-box {
    font-weight: 700; }
  .review__user-name {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600; }
  .review__user-date {
    font-size: 1.1rem;
    color: #999; }
  .review__rating {
    color: #EB2F64;
    font-size: 2.5rem;
    font-weight: 300;
    margin-left: auto; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-family: sans-serif;
    font-size: 20rem;
    line-height: 1;
    color: #f4f2f2;
    z-index: 1; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: #f4f2f2; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -2rem;
    transition: all .2s ease-out; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__input:focus + .search__button {
    background-color: #f0eeee; }
  .search__button {
    border: none;
    background-color: #f4f2f2;
    transform: translate(-10px, 1px); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translate(-10px, 2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background: #f4f2f2; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #777; }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background: #EB2F64;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #f4f2f2;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: #333;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.detail {
  display: flex;
  font-size: 1.4rem;
  gap: 4.5rem;
  padding: 4.5rem;
  background: #faf9f9;
  border-bottom: #f4f2f2 1px solid; }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem;
      gap: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-direction: column; } }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: #f4f2f2 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-evenly;
      height: 11rem; } }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
    .side-nav__item:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background: #EB2F64;
      transform: scaleY(0);
      transition: transform 0.2s ease-out, width 0.2s cubic-bezier(1, 0, 0, 1) 0.2s, background 0.1s ease-out; }
    .side-nav__item:active::before {
      background: #FF3366; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__link:link, .side-nav__link:visited {
    position: relative;
    z-index: 10;
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.75rem 1.5rem 1.5rem; } }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 0;
        width: 1.5rem;
        height: 1.5rem; } }

.copyright {
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem;
  color: #ccc; }
  @media only screen and (max-width: 56.25em) {
    .copyright {
      display: none; } }
