.btn {
  border: none;
  cursor: pointer;
  font-size: inherit;
  transition: all .2s ease-out;

  &--inline {
    color: $color-primary;
    border-bottom: currentColor 1px solid;
    padding-bottom: 2px;
    display: inline-block;
    background: transparent;

    &:hover {
      color: $color-gray-dark-1;

      & span {
        margin-left: 8px;
      }
    }

    &:focus {
      outline: none;
      animation: pulsate 1s linear infinite
    }

    & span {
      margin-left: 3px;
      transition: margin-left .3s ease-out;
    }
  }

  &__gradient {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    background-image: linear-gradient(to right, $color-primary-light 0%, $color-primary-dark 50%, $color-primary-light 100%);
    background-size: 200% auto;
    color: $color-white;
    position: relative;
    overflow: hidden;

    & > * {
      display: inline-block;
      transition: all .2s ease-out;
    }

    &--visible { padding: 2rem 7.5rem }

    &--invisible {
      position: absolute;
      padding: 2rem 0;
      left: 0;
      top: -100%;
      height: 100%;
      width: 100%;
    }

    &:hover { background-position: -100% 0 }

    &:hover &--visible { transform: translateY(100%) }

    &:hover &--invisible { top: 0 }

    &:focus {
      outline: none;
      animation: pulsate 1s linear infinite;
    }
  }
}

@keyframes pulsate{
  0%, 100%{
    transform: scale(1);
    box-shadow: none;
  }
  50%{
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba($color-black,.25)
  }
}