.detail {
  display: flex;
  font-size: 1.4rem;
  gap: 4.5rem;
  padding: 4.5rem;
  background: $color-gray-light-1;
  border-bottom: $border-default;

  @include respond (tab-port) {
    padding: 3rem;
    gap: 3rem;
  }

  @include respond (phone) { flex-direction: column }
}