.header {
  height: 7rem;
  background-color: $color-white;
  border-bottom: $border-default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;

  @include respond (phone-small) {
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 11rem;
  }
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}