.header {
  height: 7rem;
  background-color: $color-white;
  border-bottom: $border-default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;

  @include respond (phone-small) {
    flex-wrap: wrap;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 200;
    box-shadow: 0 3px 6px 0 rgba($color-black, .15);
  }
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}