.header {
  height: 7rem;
  background-color: $color-white;
  border-bottom: $color-gray-light-2 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}