.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  
  @include respond (tab-port) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;
    @include respond (tab-port) { flex: 1 }

    &:not(:last-child) {
      margin-bottom: .5rem;   
      @include respond (tab-port) { margin-bottom: 0 }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background: $color-primary;
      transform: scaleY(0);
      transition: transform .2s ease-out, width .2s cubic-bezier(1,0,0,1) .2s, background .1s ease-out;
  
      @include respond (tab-port) {
        top: 0;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        transition: transform .2s ease-out, height .2s cubic-bezier(1,0,0,1) .2s, background .1s ease-out;
      }
    }

    &:active::before { background: $color-primary-light }
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  
    @include respond (tab-port) {
      transform: scaleX(1);
      height: 100%;
    }
  }

  &__link:link,
  &__link:visited {
    position: relative;
    z-index: 10;
    color: $color-gray-light-1;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    
    @include respond (tab-port) { 
      justify-content: center;
      padding: 2rem;
    }
    
    @include respond (phone) {
      flex-direction: column;
      padding: 1.75rem 1.5rem 1.5rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @include respond (phone) {
      margin-right: 0;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.copyright {
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem;
  color: $color-gray-light-4;
  
  @include respond (tab-port) { display: none }
}